<div class="main">
  <h1>{{ title }}</h1>
  <p class="text">{{ text }}</p>
  <p>{{desc}}</p>
</div>
<div class="flex-div">
    <div class="card">
        <h2>{{card1title}}</h2>
        <p>{{card1desc}}</p>
    </div>
    <div class="card">
        <h2>{{card2title}}</h2>
        <p>{{card2desc}}</p>
    </div>
    <div class="card">
        <h2>{{card3title}}</h2>
        <p>{{card3desc}}</p>
    </div>
    <div class="card">
        <h2>{{card4title}}</h2>
        <p>{{card4desc}}</p>
    </div>
    <div class="card">
        <h2>{{card5title}}</h2>
        <p>{{card5desc}}</p>
    </div>
</div>
